In [ ]:
! pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=ebe706c62ad0a7029613118b4a95e50fb04d765498bed116fea6bd1686719ef1
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
! pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
spark = SparkSession.builder.master("local[*]").appName("Datamanipulation").getOrCreate()

In [ ]:
spark

In [ ]:
# read our data - lives in a csv file

df = spark.read.option("header","true").csv("/Sample - EU Superstore.csv")

In [ ]:
# how many rows of the EU Superstore dataset have the country being France
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
|    20|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [ ]:
df.select("Country", when(df.Country == "France", 1).otherwise(0)).show()

+--------------+----------------------------------------------+
|       Country|CASE WHEN (Country = France) THEN 1 ELSE 0 END|
+--------------+----------------------------------------------+
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|United Kingdom|                                             0|
|        France|                                             1|
|        France|                                             1|
|        France|                                             1|
|        France|                                             1|
|        France|                                             1|
|        France|                                             1|
|        France|                                             1|
|        France|                                             1|
|       Germany|                                             0|
|       Germany|                                             0|
+--------------+----------------------------------------------+
only showing top 20 rows

In [ ]:
# of those, how many are profitable?

df.select("Profit", when(df.Profit > 0, 1).otherwise(0)).show()

+-------+----------------------------------------+
| Profit|CASE WHEN (Profit > 0) THEN 1 ELSE 0 END|
+-------+----------------------------------------+
|   39.6|                                       1|
|      0|                                       0|
|  16.11|                                       1|
|   13.2|                                       1|
|  73.71|                                       1|
|  37.92|                                       1|
|  20.61|                                       1|
| 192.69|                                       1|
|1989.54|                                       1|
|   12.6|                                       1|
|   0.48|                                       0|
|760.305|                                       1|
|      0|                                       0|
|790.416|                                       1|
|-12.345|                                       0|
|  4.275|                                       1|
|      0|                                       0|
|   1.14|                                       1|
|  76.44|                                       1|
| 12.705|                                       1|
+-------+----------------------------------------+
only showing top 20 rows

In [ ]:
# how any different discount brackets exist? what are they?
grouped_df = df.groupBy("Discount").agg(count("Sales").alias("total"))
grouped_df.show()

+--------+-----+
|Discount|total|
+--------+-----+
|     0.3|   51|
|     0.7|    6|
|       0| 6134|
|     0.2|  125|
|    0.15|  407|
|    0.35|   45|
|     0.8|    4|
|    0.45|    2|
|     0.5| 1080|
|    0.65|   17|
|     0.6|  116|
|     0.1| 1737|
|    0.85|    2|
|     0.4|  274|
+--------+-----+

In [ ]:
# let's see the totl profit by discount bracket, make sure they are ordered by
a = df.groupBy("Discount").agg(sum("Profit").alias("total"))
a.orderBy(col("total").desc()).show()

+--------+-------------------+
|Discount|              total|
+--------+-------------------+
|       0| 383806.53000000026|
|     0.1|  126884.0309999999|
|    0.15| 24677.563499999975|
|     0.2| 2189.5499999999984|
|     0.8|           -460.284|
|     0.3| -758.4209999999999|
|    0.45|         -1103.1915|
|    0.85|          -3068.658|
|     0.7|          -5496.765|
|    0.65| -6221.965499999999|
|    0.35|          -9122.649|
|     0.6|-20517.456000000002|
|     0.4|-21346.427999999996|
|     0.5|         -96632.115|
+--------+-------------------+

In [ ]:
# who are the top 5 most profitable customers

df.orderBy(col("Profit").desc()).show()

+------+---------------+----------+----------+--------------+-----------+-------------------+-----------+---------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|      Customer Name|    Segment|           City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|Profit|
+------+---------------+----------+----------+--------------+-----------+-------------------+-----------+---------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+------+
|  6073|ES-2017-1694278|19/08/2017|22/08/2017|   First Class|   JG-15805|         John Grady|  Corporate|         Berlin|              Berlin|       Germany|Central|OFF-ST-10000288|Office Supplies|     Storage|Fellowes Lockers,...|332.496|       2|     0.2|99.696|
|  1029|ES-2015-4445402|03/02/2015|07/02/2015|Standard Class|   JB-16000|          Joy Bell-|   Consumer|   Saint-Priest|Auvergne-Rhône-Alpes|        France|Central|FUR-BO-10004585|      Furniture|   Bookcases|Ikea 3-Shelf Cabi...|256.392|       2|     0.1|99.672|
|  3996|ES-2016-2522918|16/11/2016|19/11/2016|   First Class|   ME-18010|   Michelle Ellison|  Corporate|          Dreux| Centre-Val de Loire|        France|Central|OFF-ST-10003153|Office Supplies|     Storage|Tenex File Cart, ...|242.298|       2|     0.1|99.558|
|  8579|IT-2015-2498718|31/07/2015|05/08/2015|Standard Class|   MH-17620|    Matt Hagelstein|  Corporate|      Bielefeld|North Rhine-Westp...|       Germany|Central|OFF-ST-10003153|Office Supplies|     Storage|Tenex File Cart, ...|242.298|       2|     0.1|99.558|
|  5595|ES-2015-5560916|07/07/2015|14/07/2015|Standard Class|   BS-11800|      Bryan Spruell|Home Office|     Frontignan|Languedoc-Roussil...|        France|Central|FUR-FU-10000907|      Furniture| Furnishings|Eldon Clock, Duo ...| 226.32|       4|       0| 99.48|
|  5583|ES-2015-1233460|25/12/2015|29/12/2015|Standard Class|   RA-19285|       Ralph Arnett|   Consumer|         Getafe|              Madrid|         Spain|  South|OFF-ST-10003455|Office Supplies|     Storage|Fellowes Lockers,...|559.791|       3|     0.1|99.441|
|  9052|ES-2014-2736116|29/06/2014|06/07/2014|Standard Class|   DR-12940|      Daniel Raglin|Home Office|         Berlin|              Berlin|       Germany|Central|FUR-BO-10001133|      Furniture|   Bookcases|Ikea Classic Book...|662.832|       2|     0.2|99.372|
|   610|ES-2016-4895029|19/02/2016|22/02/2016|  Second Class|   MM-17260|    Magdelene Morse|   Consumer|     Argenteuil|       Ile-de-France|        France|Central|OFF-ST-10003111|Office Supplies|     Storage|Eldon Trays, Sing...|  388.8|       9|     0.1| 99.36|
|  5405|IT-2017-1036058|29/09/2017|03/10/2017|Standard Class|   KC-16255|     Karen Carlisle|  Corporate|       Duisburg|North Rhine-Westp...|       Germany|Central|TEC-PH-10000270|     Technology|      Phones|Apple Office Tele...| 261.48|       4|       0| 99.36|
|  4372|ES-2017-2992535|15/09/2017|21/09/2017|Standard Class|   TS-21205|        Thomas Seio|  Corporate|       Brighton|             England|United Kingdom|  North|TEC-MA-10002043|     Technology|    Machines|Epson Receipt Pri...| 230.88|       2|       0| 99.24|
|  5915|ES-2016-3845157|10/09/2016|14/09/2016|  Second Class|   VP-21730|       Victor Preis|Home Office|          Leeds|             England|United Kingdom|  North|TEC-MA-10002043|     Technology|    Machines|Epson Receipt Pri...| 230.88|       2|       0| 99.24|
|  7871|ES-2015-4070273|17/11/2015|21/11/2015|Standard Class|   MS-17365|Maribeth Schnelling|   Consumer|          Milan|            Lombardy|         Italy|  South|TEC-AC-10000394|     Technology| Accessories|Belkin Numeric Ke...|    231|       4|       0| 99.24|
|  8823|ES-2014-2681822|03/09/2014|03/09/2014|      Same Day|   CM-11830|     Cari MacIntyre|  Corporate|Friedrichshafen|   Baden-Württemberg|       Germany|Central|FUR-CH-10001674|      Furniture|      Chairs|Office Star Chair...|307.395|       5|     0.1|99.045|
|  4005|ES-2015-5600285|05/09/2015|05/09/2015|      Same Day|   BD-11620|    Brian DeCherney|   Consumer|         Vienna|              Vienna|       Austria|Central|FUR-FU-10004422|      Furniture| Furnishings|Advantus Photo Fr...|  206.4|       4|       0|    99|
|   706|ES-2015-2309141|03/03/2015|05/03/2015|   First Class|   RA-19285|       Ralph Arnett|   Consumer|    Puertollano|   Castile-La Mancha|         Spain|  South|TEC-CO-10001008|     Technology|     Copiers|Canon Fax and Cop...|2104.74|      11|       0|989.01|
|  5668|IT-2017-2700287|07/07/2017|10/07/2017|  Second Class|   BP-11095|       Bart Pistole|  Corporate|          Trier|Rhineland-Palatinate|       Germany|Central|OFF-AP-10001568|Office Supplies|  Appliances|Hamilton Beach To...| 262.17|       5|     0.1| 98.97|
|   794|ES-2017-5710826|30/12/2017|02/01/2018|  Second Class|   MB-17305|    Maria Bertelson|   Consumer|        Bourges| Centre-Val de Loire|        France|Central|FUR-BO-10003541|      Furniture|   Bookcases|Bush Classic Book...|370.926|       1|     0.1|98.886|
|  4038|ES-2016-5523206|05/06/2016|11/06/2016|Standard Class|   TH-21115|      Thea Hudgings|  Corporate|         Vienna|              Vienna|       Austria|Central|OFF-AP-10000228|Office Supplies|  Appliances|Cuisinart Blender...| 260.52|       4|       0| 98.88|
|  5313|ES-2015-3750420|04/12/2015|09/12/2015|Standard Class|   MG-17680|  Maureen Gastineau|Home Office|         Vienna|              Vienna|       Austria|Central|TEC-AC-10001100|     Technology| Accessories|Logitech Router, ...| 1236.6|       5|       0| 98.85|
|  6173|ES-2015-4130389|21/09/2015|25/09/2015|Standard Class|   FA-14230|     Frank Atkinson|  Corporate|          Bondy|       Ile-de-France|        France|Central|OFF-FA-10002066|Office Supplies|   Fasteners|OIC Clamps, Bulk ...|  197.7|      10|       0|  98.7|
+------+---------------+----------+----------+--------------+-----------+-------------------+-----------+---------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+------+
only showing top 20 rows

In [ ]:
# create a new column which is the value of the sale were there not discount applied. Hint: orginal = sales/(1-d)
df =   df.withColumn("no_profit", col("Sales") / (1 - col("Discount")))
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+------------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|         no_profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+------------------+
|     1|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|              79.2|
|     2|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|            388.92|
|     3|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|             35.19|
|     4|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|             50.94|
|     5|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|            307.44|
|     6|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|             122.4|
|     7|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|            413.82|
|     8|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|            428.22|
|     9|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|           3979.29|
|    10|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|             43.56|
|    11|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|             25.26|
|    12|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|2715.4500000000003|
|    13|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|             12.21|
|    14|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|2549.7599999999998|
|    15|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|            153.45|
|    16|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|142.64999999999998|
|    17|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|            690.12|
|    18|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|              8.16|
|    19|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|            347.88|
|    20|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705| 639.4499999999999|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+------------------+
only showing top 20 rows

In [ ]:
# create a temporary table for our superstore table in sql
df.registerTempTable("data")

In [ ]:
# use an SQL query to count the number of rows
spark.sql("Select count(*) from data").show()

+--------+
|count(1)|
+--------+
|   10000|
+--------+

In [ ]:
# Use an SQL query to calculate the profit ratio for each country: hint, ratio is sum(profit)/sum(sales)
spark.sql("Select Country, sum(Profit)/sum(Sales) from data group by Country").show()

+--------------+--------------------------+
|       Country|(sum(Profit) / sum(Sales))|
+--------------+--------------------------+
|        Sweden|       -0.5745674280714466|
|       Germany|       0.17066792076621765|
|        France|       0.12693568221933804|
|       Belgium|       0.23508766583987942|
|       Finland|       0.18864296633316185|
|         Italy|       0.06844355185424991|
|        Norway|        0.2517747548521659|
|         Spain|       0.18941580658358978|
|       Denmark|       -0.4957190005664471|
|       Ireland|      -0.44426677493909256|
|   Switzerland|        0.2909201193350232|
|      Portugal|       -0.5761662270806188|
|       Austria|        0.2641908775042505|
|United Kingdom|       0.21170103540397134|
|   Netherlands|       -0.5298342790541865|
+--------------+--------------------------+

In [ ]:
# is the country with the largest profit ratio, the country with the largest profit?
spark.sql("Select Country, sum(Profit) from data group by Country").show()

+--------------+-------------------+
|       Country|        sum(Profit)|
+--------------+-------------------+
|        Sweden|-17519.366999999987|
|       Germany| 107322.82049999991|
|        France| 109029.00299999975|
|       Belgium|           11572.59|
|       Finland|            3905.73|
|         Italy| 19828.757999999965|
|        Norway|            5167.77|
|         Spain|  54390.11999999999|
|       Denmark|-4282.0470000000005|
|       Ireland| -7392.381000000003|
|   Switzerland|  7237.470000000001|
|      Portugal| -8703.059999999998|
|       Austria|           21442.26|
|United Kingdom| 111900.15000000001|
|   Netherlands| -41070.07499999996|
+--------------+-------------------+